.post-list-container {
    max-width: 100vw;
    padding: 0 30px;
    column-count: 3;
}

.single-post {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    break-inside: avoid;
    height: 8rem;
    text-align: center;
    cursor: pointer;
}

.single-post:first-child {
    margin-top: 0;
}

.single-post:hover {
    border: solid 2px #007bff;
}

.userId {
    font-size: 20px;
}

.title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .post-list-container {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .post-list-container {
        column-count: 1;
    }
}